.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}

.that {
  font-size: 100%;
  font-family: fantasy;
  padding: 5px;
}

.comrade {
  font-size: 20px;
  font-style: italic;
  justify-content: center;
  border: solid 1px green;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

.sure {
  width: 400%;
  height: 30px;
  border: 2px solid red;
  border-radius: 4px;
}
